---
services:
  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: unless-stopped
    ports:
      - 9000:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data